header{
	padding-bottom: 0 !important;
	.wrapper{
		.grid--full{
			.site-nav{
				margin-top: 0 !important;
			} 
			.grid__item{
				.griditems{
					font-size: 12px;
					margin-bottom: 0 !important	;
					li{
						display: inline-block;
						width: 320px;
						text-align: center;
						vertical-align: middle;
						.rte{
							height: auto;
							color: black;
							p{
								margin: 0 !important;
								padding-bottom: 5px;
								color : #686868;
								font-weight: bold;
							}
							.call{
								color:#EC1A22;
								font-size: 20px;
		    					font-weight: bold;
							}
						}
						.griditem{
							display: inline-block;
							overflow: hidden;
							li{
								display: inline-block;
								width: 120px;
								.header-bar__module.header-bar__search{
									form{
										button{
											span{
												color:#5B5B5B;
											}
											span.fallback-text{
												color:#5B5B5B;
												font-weight: bold;
											}
										}
									}
								}
								.login{
									a{
										font-weight: bold;
    									color: #4B4B4B;
										i{
											position: absolute;
											margin-left: -40px;
										}
										label{
												
										}
									}
								}
							}
						}
					}
					.griditems1{
						border-right: 2px solid #E7E7E7;
						border-left: 2px solid #E7E7E7;
					}
				}
				.site-nav{
					background-color: #C9BDA5;
					margin-left: -30px;
					li{
						a{
							color:white;
							&:hover{
								color:red;
							}
						}
					}
				}
			}	
		}
		.grid--full.medium-down--hide{
			.grid__item{
				ul#AccessibleNav{
					a.cart-page-link.mobile-cart-page-link{
						padding-right: 20px;
						padding: 9px;
						color: white;
						background-color: red;
						margin-right: 35px;
					}
				}
			}
		}
	}
}
